/*main section*/
main {
  background-image: linear-gradient(to top,#D6DDED ,  white );
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* shared style */
.btn {
  background-color: blue;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  width: 80px;
  height: 32px;
  cursor: pointer;
  padding: 9px;
  font-size: 12px;
  font-weight: 500;
}

.btn-1 {
  border-radius: 8px;
  background-color: blue;
  color: #FFFFFF;
  border: none;
  width: 100px;
  height: 32px;
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}


/* header */
.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  padding: 40px;
  max-width: 1440px;
  height: 500px;
  margin-bottom: 80px;
}

.action {
  display: flex;
  align-items: center;
  gap: 130px;
  max-width: 740px;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 80px;
}
.action-head{
  font-size: 42;
  font-weight: bold;
}

.btn-2 {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-color: blue;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
}

.img-1 {
  border-radius: 40px;
  width: 275px;
  height: 220px;
}

.font-size {
  font-size: 16px;
  color: #67646d;
  
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  align-items: center;
}

.nav-titel {
  font-weight: 900;
  font-size: 36px;
  color: blue;
}

/*banner-section*/
.banner {
  text-align: center;
  margin-top: 90px;
}

.title {
  font-weight: bolder;
  font-size: 50px;
}
/*user section*/
.users {

  max-width: 700px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #e0e0f7;
  line-height: 10px;
  text-align: center;
  padding: 30px;
  border-radius: 24px;
}

.user-container {
  display: flex;
  justify-content: space-around
}

/*font*/
.user-heading{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;


  font-style: normal;
}

.user-heading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;

}

.user-description {
  font-size: 10px;
  color: #777777;

}

